.AddCoupon {
  background-color: #f7f7f7;
  padding: 15px;
  height: 100%;
}
.AddCoupon > h4 {
  padding: 5px 0 20px;
}
.AddCoupon .grid {
  margin: 0 0.5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0.8em;
}
.AddCoupon .send,
.AddCoupon .reset {
  background-color: #dbdbdb;
  max-width: calc(250px / 2);
}
.AddCoupon .send:hover,
.AddCoupon .reset:hover {
  background-color: #ff9c8b;
}
.AddCoupon .mui-input {
  max-width: 250px;
  background-color: #ffffff;
}
.AddCoupon .numbers {
  display: flex;
  vertical-align: baseline;
  max-width: 250px;
}
.AddCoupon .dates {
  display: flex;
  flex-direction: column;
}
.AddCoupon .file-input {
  position: absolute;
  font-size: medium;
  padding: 16px 10px 14px;
}