.CustomerCard {
  font-size: smaller;
  background-color: #f7f7f7;
  padding: 5px;
  text-align: center;
  box-shadow: 0 0 10px #d8d8d8;
}
.CustomerCard:hover {
  background-color: #ffd1c8;
}
.CustomerCard > a > h4 {
  color: #525252;
  margin: 0;
  text-transform: capitalize;
}
.CustomerCard > a:hover > h4 {
  color: #101010;
}
.CustomerCard > a > span {
  color: #525252;
}
.CustomerCard .buttons {
  position: relative;
  top: 10px;
  padding: 5px 0;
  border-top: 1px dashed #525252;
}
.CustomerCard .buttons > a {
  color: #525252;
}
.CustomerCard .buttons > a:hover {
  color: #101010;
}