.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: smaller;
  background-color: #ff9c8b;
  border-top: 2px solid tomato;
  height: calc(100% - 3px);
  margin: 3px 0 0;
  padding: 5px 0;
}
