.Header {
  background-color: #ff9c8b;
  border-bottom: 2px solid tomato;
  margin: 0 0 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 3px);
}
.Header > h1 {
  margin: 0 25%;
}
/* Logo by HTML + CSS */
/* .Header > h1 > span:first-child {
  position: relative;
  font-size: xxx-large;
  top: 0.18em;
  left: 0.4em;
}
.Header > h1 > span:last-of-type {
  position: relative;
  top: 6pt;
  left: -8pt;
} */
